# Bỏ qua thư mục node_modules (chứa package của npm)
node_modules/

# Bỏ qua file cấu hình môi trường
.env

# Bỏ qua thư mục build và cache
dist/
build/
.cache/

# Bỏ qua file lock
package-lock.json
yarn.lock

# Bỏ qua các file hệ thống của macOS / Windows
.DS_Store
Thumbs.db
